<%= form_with(model: [@restaurant, @review], local: true) do |form| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, 'erreur') %> interdite(s) de sauvegarde :</h2>

      <ul>
        <% @review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.number_field :rating, in: 0..5, step: 1 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
